body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a8c896;
}

h4 {
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
}

.principal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.form-pla {
    display: flex;
    width: 350px;
    height: 300px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0px 5px 15px gray;
}

.form-pla-register {
    display: flex;
    width: 350px;
    height: 350px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0px 5px 15px gray;
}

.txt-form {
    text-align: center;
    margin-bottom: 30px;
}

.input-ctn {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-ctn input {
    height: 30px;
}

.btn-sing-in {
    margin: auto;
    width: 200px;
    cursor: pointer;
    background-color: blue;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.btn-sing-up {
    margin: auto;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.msj-validations {
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
}

.msj-validations li {
    color: white;
}

.msj-success {
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
}

.msj-success p {
    color: white;
}